{% extends 'base.html.twig' %}

{% block title %}séries par catégorie
{% endblock %}

{% block body %}

	<div>
		<h1 class="text-primary">
			formulaire de création de catégorie
		</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Ajouter une catégorie</button>
		{{ form_end(form) }}
		<a href="{{path('category_index')}}">Ajouter une catégorie</a>
	</div>
{% endblock %}
