$secondary: #dd80f4;
$primary: #086532;
$success: #f3cdf9;
$info: #dc5709;

@import "~bootstrap/scss/bootstrap";

// body {
//     background-color: rgba(92, 103, 75, 0.781);
// }

.card {
    width: 25rem;
}